/* GLOBAL STYLES */
html {
  padding: 5vh 5vw;
}
body {
	background-color: #fff;
	display: flex;
	flex-direction: column;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0 auto;
  max-width: 1200px;
	min-height: 100vh;
  width: 1080px;
}
.content-container {
	width: 100%;
}
h1, h2, h3, h4, h5, h6, a {
	color: #274291;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 1.5em;
  padding-bottom: 0.4em;
}

a {
  font-family: 'Merriweather Sans', sans-serif;
	text-decoration: none;
}
a:hover {
  font-family: 'Merriweather Sans', sans-serif;
  color: #aaa;
}
p, label {
  font-family: 'Merriweather Sans', sans-serif;
  line-height: 1.5em;
}

button {
  margin: 5px 5px 5px 0;
  padding: 10px 15px;
  color: #fff;
  border: none;
  background: #274291;
  border-radius: 5px;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
}
button a {
  color: #fff;
}
input {
  width: 280px;
}
textarea {
  width: 30vw;
  height: 15vh;
}
hr {
  border: 1px solid rgba(200, 200, 200, 0.7);
}


/* HEADER STYLES */
.header-contain {
	background: rgba(255, 255, 255, 1.0);
	width: 100%;
	z-index: 1;
}
.header-contain img {
  padding: 30 30 0 30;
	width: 70%;
}
.header-cta {
  float: right;
  padding: 0 0 5px;
}
.header-cta button {
  float: right;
  position: relative;
}

/* TOP HERO STYLES */
.homepage-hero {
	border-left: 10px solid #606060;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.7em;
  width: 100%
}
.homepage-hero.inside-hero {
  max-height: 280px;
  overflow: hidden;
}
.homepage-nav {
  background: linear-gradient(202deg, rgba(96,96,96,1) 29%, rgba(200,200,200,1) 77%);
  flex: 1;
  margin-left: 2px;
  max-width: 280px;
  padding-left: 2px;
}
.homepage-nav ul {
	color: #ffffff;
	list-style: none;
  text-decoration: none;
	text-shadow: 2px 2px #000;
  font-size: 1.5em;
  font-weight: bold;
	padding: 0.8em;
}
.homepage-nav li {
  font-size: 18px;
	padding-bottom: 0.5em;
}
.homepage-nav a {
  color: #fff;
}
.homepage-tagline {
    text-align: center;
    padding: 0 15px 15px;
    line-height: 1.2em;
}
/* Image Rotator */
#fader {
    height: 100%;
    position: inherit;
    width: 100%;
}
#fader h2 {
  color: #fff;
  font-size: 2.5em;
  font-weight: bold;
  position: absolute;
  text-align: center;
  /* transform: translate(480px, 30px); */
  z-index: 999;
}

/* HOMEPAGE CONTENT */
.homepage-rotator {
	flex: 3;
  overflow: hidden;
  position: relative;
  transform: translate(-12px, 0);
}
/* .homepage-rotator img {
  height: 100%;
  width: 100%;
} */
.home-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.left-content {
  display: flex;
  flex: 3;
  flex-direction: column;
}
.right-content {
  flex: 1;
}
.home-contentblock {
  border-left: 10px solid #606060;
  border-bottom: 5px solid #ccc;
  display: flex;
  flex: 1;
  margin: 0 15px 10px 0;
  max-height: 200px;
  padding: 0 2px;
  /* width: 60%; */
}
.home-contentblock img {
  float: left;
  max-width: 20%;
  padding-right: 0.5em;
  position: relative;
  width: 88px;
}
.home-copy {
  padding: 0 15px 0 0;
}

/* FEATURE BLOCK */
.home-feature {
  background: #eee;
  border: 5px solid #ccc;
  padding: 1.25em;
 }
 .home-feature img {
   padding: 5px;
   display: inline-block;
 }
.feature-headline h4 {
  padding-bottom: 0.7em;
}
.feature-headline p {
  line-height: 1.5em;
}
.feature-copy {
  margin: 0 0 1em 0;
}
.feature-copy p {
  line-height: 1.5em;
}
/* INSIDE STYLES */
.inside-hero img {
    float: right;
    min-width: 785px;
}
h1.inside-title {
  color: #fff;
  margin: 200px 100px 0 30px;
  position: absolute;
  text-shadow: 0 2px black;
  }
.inside-bottom {
  border-left: 10px solid #606060;
  position: relative;
}
.inside-background {
  background: rgba(216,216,216,1);
  height: 100%;
  margin-left: 2px;
  padding-bottom: 15px;
}
.inside-tabs {
  background: #2E4A91;
  display: flex;
  height: 36px;
  padding: 5px 5px 0 2px;
}
.inside-tabs .tab-menu {
  position: absolute;
  flex: 1;
  flex-direction: row;
  font-size: 0.9em;
  border-radius 5px 5px 0 0;
}
.tab-menu > li {
  display: inline-block;
  padding: 10px 5px;
  margin: 0 1px;
  border: 2px solid #333;
}
.tab-menu > li ~ li {
  /* padding-left: 1em; */
}
.tab-menu .selected {
  background: linear-gradient(180deg, #ccc 59%, rgba(216,216,216,1) 100%);
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}
.tab-menu .unselected {
  background: #f0f0f0;
  border-bottom: 2px solid rgba(216,216,216,1);
  border-radius: 5px 5px 0 0;
}
.inside-content {
  display: flex;
  margin-top: 3vh;
  min-height: 40vh;
}
.inside-content .left-col {
  flex: 1;
  margin: 0 15px;
  padding-left: 15px;
}
.inside-content .right-col {
  flex: 4;
  margin: 0 15px;
  padding: 0 10px 15px 20px;
  border-left: 2px solid rgba(200, 200, 200, 0.7);
}
.inside-content p {
  line-height: 1.7em;
  margin-bottom: 12px;
}
.inside-content li {
  line-height: 1.5em;
  font-size: 0.85em;
  font-family: 'Open Sans', sans-serif;
  padding-left: 0.5em;
}
.inside-content li::marker {
  font-family: 'Font Awesome 5 Free';
  content: "\f14a";
  padding-right: .5em;
}
/* CONTACT FORM */
.contactform {
  width: 50vw;
}

/* FOOTER STYLES */
.footer {
	clear:both;
	padding-top:25px;
	text-align:center;
	color: 23478F;
	font-size: 11px;
	font-family: verdana, arial, helvetica;
}

.footer a {
	margin-right:20px;
}

@media (max-width: 1200px) {
  html {
    padding: 5px 0 0 0;
  }
  .header-contain img {
  	padding: 10px 10px 0 10px;
  	width: 70vw;
  }
  .homepage-hero {
  	border-left: none;
  }
  .homepage-nav {
    margin-left: 0;
    padding-left: 0;
  }
  .inside-bottom {
      border-left: none;
    }
  .inside-background {
    margin-left: 0;
  }
}
