/* GLOBAL STYLES */
html {
  padding: 5vh 20vw 0 20vw;
}
body {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	font-family: Trebuchet MS, verdana, arial, helvetica;
	min-height: 100vh;
}
.content-container {
	flex-grow: 1;
	width: 100%;
}
h1 h2 h3 h4 h5 h6 a {
	color: #274291;
	font-family: Trebuchet MS, verdana, arial, helvetica;
}
h1 {
	font-size: 36px;
	font-weight: bold;
}
h2 {
	font-size: 24px;
	font-weight: bold;
}
h3 {
	font-size: 20px;
}

a {
	text-decoration: none;
	color: #fff;
}
a:hover {
	text-decoration: underline;
}

/* HEADER STYLES */
.header-contain {
	background: rgba(255, 255, 255, 1.0);
	width: 100%;
	z-index: 1;
}
.header-contain img {
	padding: 30 30 0 30;
	width: 50vw;
	max-width: 540px;
}

/* NAV STYLES */
.homepage-hero {
	align-items: center;
	border-left: 10px solid #606060;
  display: flex;
  flex: 1;
}
.homepage-nav {
	align-items: center;
  /* background: rgb(96,96,96); */
	background: linear-gradient(202deg, rgba(96,96,96,1) 59%, rgba(170,170,170,1) 100%);
	flex: 1 0 auto;
  padding-left: 2px;
}
.homepage-nav ul {
	color: #ffffff;
	list-style: none;
  text-decoration: none;
	text-shadow: 2px 2px #000;
  font-size: 1.5em;
  font-weight: bold;
	padding: 0.8em;
}
.homepage-nav li {
	padding-bottom: 0.5em;
}
.homepage-rotator {
	flex: 2 1 0;
  height: 240px;
}
.homepage-rotator img {
  height: inherit;
}

.home-content {
  display: flex;
  flex-direction: row;
}
.home-getstarted {
  border-left: 10px solid #606060;
  flex: 1;
  padding: 0 2px 0;
}
.home-getstarted img {
  flex: 1 1 auto;
}
.home-copy {
  flex: 1 0 auto;
}
.home-news {

}
.home-headline {

}
/* OTHER STYLES */
.forminput {
	border:1px solid black;
}
.contain{
	position:relative;
	padding:1px 0 0 12px;
	width:1020px;
	text-align:center;
	overflow:hidden;
	text-align:left;
	margin-left: auto;
	margin-right: auto;
}

/* FOOTER STYLES */
.footer {
	clear:both;
	padding-top:25px;
	text-align:center;
	color: 23478F;
	font-size: 11px;
	font-family: verdana, arial, helvetica;
}

.footer a {
	margin-right:20px;
}

/* Image Rotator */

.flashcontainer{
	 float:left;
	 width:720px;
	 padding:0px;
	 vertical-align:top;
	 border-bottom:7px solid #284591;

}

.underflash{
	 float:left;
	 width:720px;
	 height:7px;
	 border:0px;
     margin-top:0px;
}

.contentimage{
	z-index:1000:
	background-image:url(/images/rotators/dart.PNG);
	background-size:cover;
	background-repeat:no-repeat;
	float:left;
	width:720px;
	height:271px;
	text-align:left;
	padding:0px;
	overflow:hidden;
	vertical-align:bottom;
	}

.TOGimage{
	background-image:url(/images/rotators/present.PNG);
	background-size:cover;
	background-repeat:no-repeat;
	float:left;
	width:720px;
	height:214px;
	text-align:left;

	padding:0px;
	overflow:hidden;
	vertical-align:bottom;
	}

.contenttitle{
	color: #FFF;
	font-size:36px;
	font-weight:bold;
	text-shadow: -1px -1px 1px #000;
	text-shadow: 1px 1px 1px #000;
	margin-left:20px;
	margin-top:20px;
}



.pagecontent{
	width:1020px;
	text-align:center;
	overflow:hidden;
	text-align:left;
	margin-left: auto;
	margin-right: auto;
	margin-top:15px;
	padding-left:12px;
}

.spacer {
     float:left;
	 background-image:url(/images/h_news_tile.gif);
	 background-repeat:repeat-y;
	 width:12px;
	 height:100%;
}

.ven_icon{
	width:15px;
	height:15px;
}

.blurb{
	 margin:55px 0px 10px 0px;
	 text-align:center;
}


.homecontent{
	 float:left;
	 width:700px;
	 margin-top:5px;
}

.getstarted{
	float:left;
	border-left: 10px solid #606060;
	border-bottom: 4px solid #CCC;
}

.getstarted img{
	float:left;
	width:120px;
	height:188px;
	margin:0 0 5px 2px;
}

.getstartedlink{
	background-color:#334499;
	font-weight:bold;
	font-size:16px;
	color:#FFFFFF
	width:285px;
	margin-top:20px;
	padding:0 5px 2px 5px
}

.startedborder{
	 float:left;
	 width:11px;
	 height:200px;
	 background-image:url(/images/h_getstarted_tile.gif)
}

#contentphoto{
	 float:left;
	 vertical-align:top;
}

#contentgrayrule{
	 float:left;
	 height:3px;
	 width:680px;
	 margin-top:15px;
	 background-color:#CCC;
}

.news{
	 float:left;
	 clear:left;
	 margin-top:4px;
	 border-left: 10px solid #888;
	 border-bottom: 4px solid #CCC;
}

.news img{
	float:left;
	width:120px;
	height:188px;
	margin:0 0 5px 2px;
}

.textcontain {
	font-family: Trebuchet MS, verdana, arial, helvetica;
	font-size: 11pt;
	text-align: left;
	margin: 25px 10px 25px 10px;
	float:left;
	clear:right;
	width:500px
	}

.textcontain ul{
	list-style:square url(/images/list_squares_dark.png);
	margin-left:15px;
}

.usedcontain {
	font-family: Trebuchet MS, verdana, arial, helvetica;
	text-align: left;
	margin: 25px 10px 25px 10px;
	float:left;
	clear:right;
	width:950px;
	height:280px;
	overflow-y:auto;
	}

.usedData {
	font-size: 10px;
}

.tableHeader {
	font-weight:bold;
}

.featured{
	width:280px;
	float:right;
	margin-top:4px;
	padding:10px;
	background-color:#dddddd;
	border:3px solid #999999
}

.featuredcontent{
	font-family: Trebuchet MS, verdana, arial, helvetica;
	font-size: 11pt;
	text-align: left;
	margin: 5px;
	float:left;
	clear:right;
	width:270px

}

.vendorlist{
	font-family: Trebuchet MS, verdana, arial, helvetica;
	font-size: 11pt;
	text-align: left;
	margin: 25px 50px 25px 10px;
	float:left;
	width:300px;
	height:325px;
	overflow-y:auto;
	}

.vendorlist ul{
	list-style:url(/images/arrow-return-e.png);
	margin-left:15px;
	list-style:
}

.contenttab{
	height: 350px;
	position: relative;
}

.subcontenttab{
	height: 200px;
}

.locationmap{
	font-family: Trebuchet MS, verdana, arial, helvetica;
	font-size: 11pt;
	text-align: left;
	margin: 25px 10px 25px 10px;
	float:left;
	clear:right;
	border:1px solid #666;
}

.locationaddress{
	font-family: Trebuchet MS, verdana, arial, helvetica;
	font-size: 12pt;
	text-align: right;
	margin: 25px 50px 25px 10px;
	float:left;
	width:300px
}

.moreinfo{
	position:absolute; bottom:0; right:0
}

.infonewslist {
	overflow-y:auto;
	width: 400px;
	font-size:15px;
	float:left;
	margin-right:50px;
	height:300px;
}

.infonewslist ul{
	list-style:square url(/images/list_squares_dark.png);
	margin-left:15px;
}

.infonewscontain {
	font-family: Trebuchet MS, verdana, arial, helvetica;
	font-size: 11pt;
	text-align: left;
	margin: 0;
	float:left;
	clear:right;
	width:520px;
	height:300px;
	overflow-y:auto;
	}

.infonewscontain ul{
	list-style:square url(/images/list_squares.gif);
	margin-left:15px;
}

.eventcontain {
	font-family: Trebuchet MS, verdana, arial, helvetica;
	font-size: 11pt;
	text-align: left;
	margin: 0;
	float:left;
	clear:right;
	width:520px;
	height:300px;
	overflow-y:auto;
	}

.eventcontain ul{
	list-style:square url(/images/list_squares.gif);
	margin-left:15px;
}

.infoWndw{
	text-align:left;
	left:50px;
	margin:0 0 0 250px;
	width:375px;
	position:absolute;
	z-index:1000;
	border:5px solid #284591;
	background-color:#FFF;
	padding:10px;
}

.infoWndw img{
	margin-right:7px;
}

.dataSheetcontain {
	font-family: Trebuchet MS, verdana, arial, helvetica;
	font-size: 11pt;
	text-align: left;
	margin: 25px 10px 25px 10px;
	float:left;
	clear:right;
	width:500px;
	height:305px;
	overflow-y:auto;
	}

.dataSheetcontain ul{
	list-style:square url(/images/list_squares.gif);
	margin-left:15px;
}

.dataSheetcontain tr{
	height:40px;
}

.pics{
	position:relative;
	top:0px;
	left:0px;
	width:720px;
	height:468px;
		border:0;

}

.txt {
	position:absolute;
	display:none;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#FFF;
	font-size:34px;
	border:0;

}

.pic1{
	display:block;
}

.pic2{
	display:none;
}
.pic3{
	display:none;
}
.pic4{
	display:none;
}
.pic5{
	display:none;
}

.txt1{
	left:500px;
	top:40px;
}

.txt2{
	left:30px;
	top:260px;
}

.txt3{
	left:480px;
	top:380px;
}

.txt4{
	left:180px;
	top:355px;
	text-align:center;
}

.txt5{
	left:270px;
	top:30px;
}

div#preload {
	display: none;
}
