---
layout: default
---
{% include homepage-menu.html %}
<div class="home-content">
  <div class="home-getstarted">
    <img src="images/h_startphoto.png" alt="Intro to The Oldham Group"/>
      <div class="home-copy">
        	<h3>Getting Started</h3>
           	<p>We'd love to talk to you. If you are looking for a solution we'd love the opportunity to show you how we can shine. We have solutions for areas throughout your business - in graphic arts as well as general industry. </p>
            	<a class="cta" href="contactform.php?tab=0">Click here to request information</a>
      </div>
  </div>
    <div class="home-news" >
      <img src="images/h_newsphoto.png" alt="News"/>
      <div id="home-headline">
        <h3>Recent Headlines</h3>
      </div>
    </div>
</div>
<div class="feature">
  {% include feature.html %}
</div>
