  <div class="feature-headline">
    <h4>Kodak Sonora Plates</h4>
    <p>Say Hello to Savings, Goodbye to Chemicals</p>
  </div>
  <a href="//www.youtube.com/embed/PLLpZfHDUiM?rel=0"><img src="http://img.youtube.com/vi/PLLpZfHDUiM/default.jpg" /></a>
  <div class="feature-copy">
    <p>
      What if you could say goodbye to unnecessary processing equipment, variability, and maintenance, while doing away with water waste and expensive chemicals? What would the impact be for you and your business?
    </p>
    <p><em><a href="#">read more…</a></em></p>
  </div>
