<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body class="body-container">
    {% include header.html %}
    <div class="content-container">
      <div class="homepage-hero inside-hero">
        <div class="homepage-nav">
          {% include mainmenu.html %}
        </div>
        <div class="homepage-rotator">
          <img src="{{ page.image }}" alt="The Oldham Group | {{ page.title }}">
          <h1 class="inside-title">{{ page.title }}</h1>
        </div>
      </div>
    </div>
    <div class="inside-bottom">
      <div class="inside-background">
        <div class="inside-tabs">
          <ul class="tab-menu">
            {% for slug in page.tabs %}
              <li><a href="{{ slug.slug }}">{{ slug.longName }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
